* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #bbb, #45b3cc);
}

.form_cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 16px;
    width: 420px;
    height: 500px;
    background-color: #0000003d;
    border-radius: 13px;
}

input {
    padding: 8px;
    border-radius: 10px;
    border: none;
}

label,
span {
    color: #011a20;
    font-weight: bold;
}

.radio_label {
    color: #fff;
    font-weight: normal;
}

.submit {
    background-color: #45b3cc;
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
}

/* input:required {
    border: 3px solid #ac501b;
} */
input:invalid {
    border: 2px solid #ff0707;
}

input:valid:not(.submit) {
    border: 2px solid #00ff809d;
}

.hint {
    font-weight: normal;
    font-size: .8em;
    color: aliceblue;
    line-height: 0;
}